<!DOCTYPE html>
<html>

  <head>
    <title>Job Hunter Toolkit</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <meta name="theme-color" content="#3273dc"/>
    <link rel="manifest" href="manifest.json"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="https://animejs.com/lib/anime.min.js"></script>
  </head>

  <body>
    <nav class="navbar is-dark" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a class="navbar-item" href="https://job-hunter-toolkit.github.io">
          <strong>Job Hunter Toolkit</strong>
        </a>

        <a role="button" class="navbar-burger burger" style="color:white" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" id="navbarBasicExample">
        <div class="navbar-end">
          <span class="navbar-item">
            <a class="button is-link" href="https://www.katacoda.com/picat/scenarios/job-hunter-toolkit">
              <span class="icon">
                <i class="fas fa-code"></i>
              </span>
              <span>CLI Tutorial</span>
            </a>
          </span>
          <span class="navbar-item">
            <a class="button is-link" href="https://github.com/job-hunter-toolkit/job-hunter-toolkit">
              <span class="icon">
                <i class="fab fa-github"></i>
              </span>
              <span>GitHub</span>
            </a>
          </span>
        </div>
      </div>
    </nav>

    <div id="app">
      <div class="box is-radiusless" style="margin-bottom: 0px;">
        <div class="field has-addons">
          <div class="control is-expanded">
            <input id="searchInput" class="input is-medium" type="text" placeholder="Search job postings" autocomplete="off">
          </div>
          <div class="control">
            <button @click="searchFilter" id="searchButton" class="button is-medium is-link">
              Search
            </button>
          </div>
        </div>
      </div>

      <div v-if="total > 0">
        <div class="notification">
          <div class="field is-grouped is-grouped-multiline">
            <div v-anime="{ translateX: [-200, 0] }" class="control">
              <div class="tags has-addons">
                <span class="tag is-dark">Total Results</span>
                <span class="tag is-link">{{total}}</span>
              </div>
            </div>

            <div v-anime="{ translateX: [-200, 0] }" class="control" v-if="totalMatching > 0">
              <div class="tags has-addons">
                <span class="tag is-dark">Matching Results</span>
                <span class="tag is-link">{{totalMatching}}</span>
              </div>
            </div>

            <template v-for="(filter,index) in filters">
              <div v-anime="{ translateX: [-200, 0] }" class="control">
                <div class="tags has-addons">
                  <span class="tag is-dark">Filter</span>
                  <span class="tag is-link">{{filter}}</span>
                </div>
              </div>
            </template>
          </div>
        </div>
      </div>

      <template v-for="(item,index) in jobpostings">
        <div v-if="item.title && item.company && item.title && item.location">
          <a v-bind:href="item.url">
            <div class="box is-radiusless">
              <span v-anime="{ translateX: [200, 0], delay: anime.random(0, 300) }" class="tag is-pulled-right">{{item.company}}</span>
              <h1 v-anime="{ translateX: [-200, 0], delay: anime.random(0, 300) }" class="title">{{item.title}}</h1>
              <h2 v-anime="{ translateX: [-200, 0], delay: anime.random(0, 300) }" class="subtitle">{{item.location}}</h2>
            </div>
          </a>
        </div>
      </template>

      <div v-if="loading">
        <button class="button is-loading is-radiusless is-large is-link is-fullwidth">
          <span>Loading</span>
        </button>
      </div>
      <div v-else>
        <button @click="nextPage" class="button is-radiusless is-large is-link is-fullwidth">
          <span>View More</span>
        </button>
      </div>
    </div>

  </body>

</html>

<!-- DO NOT LOOK BELOW THIS LINE, THAR BE DRAGONS ... AND JAVASCRIPT ... PRs Welcome :) -->

<script>

Vue.directive('anime', {
    bind: function bind(targets, binding) {
      var opts = Object.assign({}, binding.value, { targets: targets });
      anime(opts);
    }
});

Vue.prototype.$anime = anime;

navigator.serviceWorker && navigator.serviceWorker.register('./sw.js').then(function(registration) {
  console.log('Excellent, registered with scope: ', registration.scope);
});

let jobPostings = [];
let subet       = [];

var app = new Vue({
  el: '#app',
  data: {
    loading: true,
    start: 0,
    stop: 5,
    total: 0,
    totalMatching: 0,
    filters: [],
    jobpostings: []
  },
  methods: {
    doneLoading() {
      this.loading = false;
    },
    setTotal(total) {
      this.total = total;

    },
    setJobPostings(postings) {
      this.jobpostings = postings.slice(this.start , this.stop);
      app.doneLoading()
    },
    nextPage(){
      this.stop = this.stop + 30
      app.searchFilter()
    },
    searchFilter() {
      var searchInput = document.getElementById("searchInput").value.toLowerCase()

      if (searchInput == "") {
        console.log("resseting search")
        this.totalMatching = 0
        this.filters = []
        app.setJobPostings(jobPostings)
        return
      }

      searchInput = searchInput.split(/[ ,]+/);

      console.log("finding subset for ", searchInput)

      this.filters = searchInput;

      subset = jobPostings

      for (var i in searchInput) {
        subset = subset.filter(function(p) {
          if (p.url.toLowerCase().includes(searchInput[i]) || p.title.toLowerCase().includes(searchInput[i]) || p.company.toLowerCase().includes(searchInput[i]) || p.location.toLowerCase().includes(searchInput[i])) {
            return true
          }
          return false
        })
      }

      this.totalMatching = subset.length;

      app.setJobPostings(subset)
    }
  }
})
</script>

<script>

function shuffle(a) {
  for (let i = a.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    [a[i], a[j]] = [a[j], a[i]];
  }
  return a;
}

async function* makeTextFileLineIterator(fileURL) {
  const utf8Decoder = new TextDecoder("utf-8");
  let response = await fetch(fileURL);
  if (response.status != 200) {
    console.log(response)
  }
  let reader = response.body.getReader();
  let {value: chunk, done: readerDone} = await reader.read();
  chunk = chunk ? utf8Decoder.decode(chunk) : "";

  let re = /\n|\r|\r\n/gm;
  let startIndex = 0;
  let result;

  for (;;) {
    let result = re.exec(chunk);
    if (!result) {
      if (readerDone) {
        break;
      }
      let remainder = chunk.substr(startIndex);
      ({value: chunk, done: readerDone} = await reader.read());
      chunk = remainder + (chunk ? utf8Decoder.decode(chunk) : "");
      startIndex = re.lastIndex = 0;
      continue;
    }
    yield chunk.substring(startIndex, result.index);
    startIndex = re.lastIndex;
  }
  if (startIndex < chunk.length) {
    // last line didn't end in a newline char
    yield chunk.substr(startIndex);
  }

  // makes total sense to do this way, why question my code?
  jobPostings = shuffle(jobPostings)

  app.setJobPostings(jobPostings)
}


(async() => {
  // TODO : Generate this file daily
  // this is fine
  // :)
  var jobPostingsFile = await makeTextFileLineIterator("https://gist.githubusercontent.com/picatz/fc85f233e894e2bb0b7cc5a41438510d/raw/362ecb454edf50dbcda0668c13f0f0bb1c3f0359/job-postings")

  for await (let line of jobPostingsFile) {
    var jobPosting = JSON.parse(line);
    jobPostings.push(jobPosting)
  }

  app.setTotal(jobPostings.length)

})();
</script>

<script>
  // bulma burger nonsense
  (function() {
    var burger = document.querySelector('.burger');
    var menu = document.querySelector('#'+burger.dataset.target);
    burger.addEventListener('click', function() {
      burger.classList.toggle('is-active');
      menu.classList.toggle('is-active');
    });
  })();
</script>

